@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@100;300;400;500;700;900&display=swap');

:root {
    --clr-main: #000000;
    --clr-main-light: #0c0c0c;
    --clr-white: #FFFFFF;
    --clr-gray: #D3D3D3;
    --clr-accent-blue: #1E90FF;
    --clr-accent-green: #39FF14;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin:0;
    padding:0;
    font-family: 'Orbitron', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 18% 1fr;
    background-color: var(--clr-main);
}

aside{
    padding: 2rem;
    padding-right: 0; 
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--clr-accent-blue); /* verde gamer */
    text-align: center;  /* centrado en el aside/header */
    margin-bottom: 0.5rem;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .95rem;
}

.boton-menu.active{
    background-color: var(--clr-main-light);
    color: var(--clr-white);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.boton-menu.active:after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: var(transparent);
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 var(--clr-main-light);
}
.boton-menu.boton-menu.active:before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;   
    background-color: var(transparent);
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem 0 var(--clr-main-light);
}

.boton-carrito{
    margin-top: 10rem;
}

.texto-footer{
    color: var(--clr-main-light);
    font-size: 0.85rem;
}

main{   
    background-color: var(--clr-main-light);
    margin: 1rem;
    margin-left: 0;
    border-radius: 1rem;
    padding: 3rem;
}

.titulo-principal-producto{
    margin-bottom: 2rem;
    color: var(--clr-white)
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: var(--clr-main);
    color: var(--clr-gray);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    border: 0;
    background-color: var(--clr-accent-blue);
    color: var(--clr-gray);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.producto-agregar:hover{
    background-color: var(--clr-accent-green);
    color: var(--clr-main);
    transition: .3s;
}

/* Carrito vacio */