.titulo-principal-producto {
    margin-bottom: 2rem;
    color: var(--clr-accent-green);
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.producto-imagen {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 1rem;
    display: block;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-gray);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.producto-marca {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--clr-accent-blue);
    font-family: 'Roboto', sans-serif   ;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-accent-blue);
    color: var(--clr-gray);
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.producto-agregar:hover {
    background-color: var(--clr-accent-green);
    color: var(--clr-main);
}
